<html lang="en">
{% load static %}
{% block head %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}Fast Sub{% endblock title %}</title>

    <!-- Custom fonts for this template-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Custom styles for this template-->
    <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">

</head>
{% endblock head %}
{% block body %}
<body id="page-top">
  <!-- Page Wrapper -->
  <div id="wrapper">
    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
        <div class="sidebar-brand-icon rotate-n-15">
          <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Fast Sub</div>
      </a>
      <!-- Divider -->
      <hr class="sidebar-divider my-0">
      <!-- Nav Item - Dashboard -->
      <li class="nav-item active">
        <a class="nav-link active" href="#">
          <span> &#x20A6;
 {{ wallet_balance }}</span>
          <img class="img-profile rounded-circle" src="{% static 'img/undraw_profile.svg' %}">
        </a>
      </li>
      <!-- Divider -->
      <hr class="sidebar-divider">
      <!-- Nav Item - Dashboaard -->
      <li class="nav-item active">
          <a class="nav-link" href="/">
              <i class="fas fa-fw fa-tachometer-alt"></i>
              <span>Dashboard</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading -->
      <!-- <div class="sidebar-heading">
          Interface
      </div> -->

      <!-- Nav Item - Pages Collapse Menu -->
      <li class="nav-item">
          <a class="nav-link" href="{% url 'yusmouser:buydata' %}">
              <i class="fas fa-fw fa-chart-area"></i>
              <span>Buy Data</span></a>
      </li>

      <li class="nav-item">
          <a class="nav-link" href="{% url 'yusmouser:buyairtime' %}">
              <i class="fas fa-fw fa-chart-area"></i>
              <span>Buy Airtime</span></a>
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
          <i class="fas fa-fw fa-cog"></i>
          <span>Fund Wallet</span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item" href="{% url 'yusmouser:fund_wallet' %}">Fund with payment 
              <br> gateway(ATM)
            </a>
  
          </div>
        </div>
      </li>

      <!-- Nav Item - Utilities Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities" aria-expanded="true" aria-controls="collapseUtilities">
          <i class="fas fa-fw fa-wrench"></i>
          <span>Utilities</span>
        </a>
        <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item" href="{% url 'yusmouser:buyelectricity' %}">Bill payment</a>
              <a class="collapse-item" href="{% url 'yusmouser:buycable' %}">Cable subscription</a>
            </div>
        </div>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading -->
      <!-- <div class="sidebar-heading">
          Addons
      </div> -->

      <!-- Nav Item - Charts -->
      <li class="nav-item">
        <a class="nav-link" href="">
          <i class="fas fa-fw fa-chart-area"></i>
          <span>Pricing</span></a>
      </li>

      <!-- Nav Item - Tables -->
      <li class="nav-item">
        <a class="nav-link" href="">
          <i class="fas fa-fw fa-table"></i>
            <span>Account</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="">
          <i class="fas fa-fw fa-setting"></i>
            <span>Setting</span>
        </a>
      </li>


      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block">

      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
          <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>
    </ul>
    <!-- End of Sidebar -->
    <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    
                    <!-- Topbar Search -->

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                            <!-- Dropdown - Messages -->
                            
                        </li>

                        <!-- Nav Item - Messages -->

            <div class="topbar-divider d-none d-sm-block"></div>
            <!-- Nav Item - User Information -->
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{ user.username }}</span>
                <img class="img-profile rounded-circle" src="{% static 'img/undraw_profile.svg' %}">
              </a>
              <!-- Dropdown - User Information -->
              <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="#">
                  <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400">
                  </i>Profile
                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Settings
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Activity Log
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->

              
            <!-- Begin Page Content -->
              {% block content %}
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                      <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
                      <h1 class="h4 mb-0 text-gray-800">Welcome to Fast Sub</h1>
                      <!-- <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                      <i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a> -->
                    </div>

                    
                    <div class="card mb-4">
                      <div class="card shadow h-100 py-2">
                        <div class="card-body">
                          <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                              <div class="h5 mb-0 font-weight-bold text-gray-800">
                            
                                Good day {{ user.username }}
                                    
                              </div>
                            <div>
                          </div>
                          <hr class="sidebar-divider d-none d-md-block">
                          <h4>Your Account Name is : {{ accountName }}</h4>
                          <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                                class="fas fa-download fa-sm text-white-50"></i> Wallet Balance is : &#8358;{{ wallet_balance }}</a>
                          <a href="{% url 'yusmouser:fund_wallet' %}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                                class="fas fa-download fa-sm text-white-50"></i> Fund Wallet</a>
<!-- tabs FOR ACCOUNT -->
                              <ul class="nav nav-tabs" role="tablist">
                                {% for account in accounts %}
                                <li class="nav-item">
                                  <a class="nav-link" data-toggle="tab" href="#tabs-{{ forloop.counter }}" role="tab">{{ account.0 }}</a>
                                </li>
                                {% endfor %}
                              </ul>
                              <!-- Tab panes -->
                              
                            <div class="tab-content">
                              {% for account in accounts %}
                            	<div class="tab-pane" id="tabs-{{ forloop.counter }}" role="tabpanel">
                            		<p>Account Number : {{ account.1 }}</p>
                                <p>Account Name: {{ account.2 }}</p>
                            	</div>
                              {% endfor %}
                            </div>                      
                            <!-- TABS FOR ACCOUNT ENDS HERE -->
                            </div>
                        
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- Content Row -->
                    
                    <div class="row">
                      <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card shadow h-100 py-2">
                          <div class="card-body">
                            <div class="row no-gutters text-center">
                              <div class="col mr-2">
                                <div class="h5 mb-0 font-weight-bold text-gray-800">
                                  <a href="{% url 'yusmouser:data_transanction' %}">Data Transaction</a>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card shadow h-100 py-2">
                          <div class="card-body">
                            <div class="row no-gutters text-center">
                              <div class="col mr-2">
                                <div class="h5 mb-0 font-weight-bold text-gray-800">
                                  <a href="{% url 'yusmouser:airtime_transanction' %}">Airtime Transaction</a>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card shadow h-100 py-2">
                          <div class="card-body">
                            <div class="row no-gutters text-center">
                              <div class="col mr-2">
                                <div class="h5 mb-0 font-weight-bold text-gray-800">
                                  <a href="">Cable Transaction</a>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card shadow h-100 py-2">
                          <div class="card-body">
                            <div class="row no-gutters text-center">
                              <div class="col mr-2">
                                <div class="h5 mb-0 font-weight-bold text-gray-800">
                                  <a href="">Electricity Transaction</a>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card shadow h-100 py-2">
                          <div class="card-body">
                            <div class="row no-gutters text-center">
                              <div class="col mr-2">
                                <div class="h5 mb-0 font-weight-bold text-gray-800">
                                  <a href="{% url 'yusmouser:wallet_finding' %}">Wallet Funding Summary</a>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  
                    <div class="row">
                      <div class="col-xl-3 col-md-6 mb-4">
                        
                        <div class="card shadow h-100 py-2">
                          <div class="card-body">
                            <div class="row no-gutters text-center">
                              <div class="col mr-2">
                                <div class="h5 mb-0 font-weight-bold text-gray-800">
                                  <a href="{% url 'yusmouser:buyairtime' %}">
                                    <span style="font-size: 30px;">
                                      <img src="{% static 'img/airtimetopup.svg' %}" height="100px">
                                      </span>
                                  </a>
                                </div>
                                <div class="text-xl font-weight-bold text-primary text-uppercase mb-1">
                                  Airtime TopUp
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="col-xl-3 col-md-6 mb-4">
                          <div class="card shadow h-100 py-2">
                              <div class="card-body">
                                  <div class="row no-gutters text-center">
                                      <div class="col mr-2">
                                          <div class="h5 mb-0 font-weight-bold text-gray-800">
                                              <a href="{% url 'yusmouser:buydata' %}">
                                                  <span style="font-size: 30px;">
                                                      <img src="{% static 'img/buydata.jpg' %}" height="100px">
                                                  </span>
                                              </a>
                                          </div>
                                          <div class="text-xl font-weight-bold text-primary text-uppercase mb-1">
                                              Buy Data 
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
    
                      <div class="col-xl-3 col-md-6 mb-4">
                          <div class="card shadow h-100 py-2">
                              <div class="card-body">
                                  <div class="row no-gutters text-center">
                                      <div class="col mr-2">
                                          <div class="h5 mb-0 font-weight-bold text-gray-800">
                                              <a href="{% url 'yusmouser:mtn_data_pin' %}">
                                                  <span style="font-size: 30px;">
                                                      <img src="{% static 'img/buydatapincoupon.png' %}" height="100px">
                                                  </span>
                                              </a>
                                          </div>
                                          <div class="text-xl font-weight-bold text-primary text-uppercase mb-1">
                                              Buy Data Pin/Coupon
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
  
                      <div class="col-xl-3 col-md-6 mb-4">
                          <div class="card shadow h-100 py-2">
                              <div class="card-body">
                                  <div class="row no-gutters text-center">
                                      <div class="col mr-2">
                                          <div class="h5 mb-0 font-weight-bold text-gray-800">
                                              <a href="">
                                                  <span style="font-size: 30px;">
                                                      <img src="{% static 'img/airtime2cash.jpg' %}" height="100px">
                                                  </span>
                                              </a>
                                          </div>
                                          <div class="text-xl font-weight-bold text-primary text-uppercase mb-1">
                                              Airtime To Cash
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
  
                      <div class="col-xl-3 col-md-6 mb-4">
                          <div class="card shadow h-100 py-2">
                              <div class="card-body">
                                  <div class="row no-gutters text-center">
                                      <div class="col mr-2">
                                          <div class="h5 mb-0 font-weight-bold text-gray-800">
                                              <a href="{% url 'yusmouser:buyelectricity' %}">
                                                  <span style="font-size: 30px;">
                                                      <img src="{% static 'img/electricitybills.jpg' %}" height="100px">
                                                  </span>
                                              </a>
                                          </div>
                                          <div class="text-xl font-weight-bold text-primary text-uppercase mb-1">
                                              Electricity Bills
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
  
                      <div class="col-xl-3 col-md-6 mb-4">
                          <div class="card shadow h-100 py-2">
                              <div class="card-body">
                                  <div class="row no-gutters text-center">
                                      <div class="col mr-2">
                                          <div class="h5 mb-0 font-weight-bold text-gray-800">
                                              <a href="{% url 'yusmouser:buycable' %}">
                                                  <span style="font-size: 30px;">
                                                      <img src="{% static 'img/cablesub.jpg' %}" height="100px">
                                                  </span>
                                              </a>
                                          </div>
                                          <div class="text-xl font-weight-bold text-primary text-uppercase mb-1">
                                              Cable Subcription
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
  
                      <!-- <div class="col-xl-3 col-md-6 mb-4">
                          <div class="card shadow h-100 py-2">
                              <div class="card-body">
                                  <div class="row no-gutters text-center">
                                      <div class="col mr-2">
                                          <div class="h5 mb-0 font-weight-bold text-gray-800">
                                              <a href="">
                                                  <span style="font-size: 30px;">
                                                      <img src="{% static 'img/bonustowallet.jfif' %}" height="100px">
                                                  </span>
                                              </a>
                                          </div>
                                          <div class="text-xl font-weight-bold text-primary text-uppercase mb-1">
                                              Bonus To wallet
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div> -->
  
                      <div class="col-xl-3 col-md-6 mb-4">
                          <div class="card shadow h-100 py-2">
                              <div class="card-body">
                                  <div class="row no-gutters text-center">
                                      <div class="col mr-2">
                                          <div class="h5 mb-0 font-weight-bold text-gray-800">
                                              <a href="">
                                                  <span style="font-size: 30px;">
                                                      <img src="{% static 'img/bulksms.png' %}" height="100px">
                                                  </span>
                                              </a>
                                          </div>
                                          <div class="text-xl font-weight-bold text-primary text-uppercase mb-1">
                                              Bulk SMS
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
  
                      <div class="col-xl-3 col-md-6 mb-4">
                          <div class="card shadow h-100 py-2">
                              <div class="card-body">
                                  <div class="row no-gutters text-center">
                                      <div class="col mr-2">
                                          <div class="h5 mb-0 font-weight-bold text-gray-800">
                                              <a href="{% url 'yusmouser:resultchecker' %}">
                                                  <span style="font-size: 30px;">
                                                      <img src="{% static 'img/resultchecker.png' %}" height="100px">
                                                  </span>
                                              </a>
                                          </div>
                                          <div class="text-xl font-weight-bold text-primary text-uppercase mb-1">
                                              Result Checker
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
  
                      <div class="col-xl-3 col-md-6 mb-4">
                          <div class="card shadow h-100 py-2">
                              <div class="card-body">
                                  <div class="row no-gutters text-center">
                                      <div class="col mr-2">
                                          <div class="h5 mb-0 font-weight-bold text-gray-800">
                                              <a href="{% url 'yusmouser:print_recharge_card' %}">
                                                  <span style="font-size: 30px;">
                                                      <img src="{% static 'img/rechargecardprinter.svg' %}" height="100px">
                                                  </span>
                                              </a>
                                          </div>
                                          <div class="text-xl font-weight-bold text-primary text-uppercase mb-1">
                                              Recharge Card Printing
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
  
                      <div class="col-xl-3 col-md-6 mb-4">
                          <div class="card shadow h-100 py-2">
                              <div class="card-body">
                                  <div class="row no-gutters text-center">
                                      <div class="col mr-2">
                                          <div class="h5 mb-0 font-weight-bold text-gray-800">
                                              <a href="">
                                                  <span style="font-size: 30px;">
                                                      <img src="{% static 'img/referral.png' %}" height="100px">
                                                  </span>
                                              </a>
                                          </div>
                                          <div class="text-xl font-weight-bold text-primary text-uppercase mb-1">
                                              My Referrals
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                </div>
                {% endblock content %}
                <!-- /.container-fluid -->
            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2021</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

      
    </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="{% url 'yusmouser:logout' %}">Logout</a>
                </div>
            </div>
        </div>
    </div>
  </div>
    <!-- Bootstrap core JavaScript-->
  {% block script %}
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{% static 'js/sb-admin-2.min.js' %}"></script>

    {% endblock script %}

</body>
{% endblock body %}

</html>